* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    min-height: 100vh;
  }
  
  .wrapper {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 5em;
      background-color: white;
  }
  .form-box{
      width: 380px;
      height: 480px;
      position: relative;
      margin: 6% auto;
      background-color: blue;
      border: 1px solid rgba(225,225,225,0.196);
      backdrop-filter: blur(20px);
      padding:5px;
      border-radius: 2em;
      overflow: hidden;
  }
  .button-box{
      width: 220px;
      margin: 35px auto;
      position: relative;
      background-color:rgba(225,225,225,0.209) ;
      box-shadow: 0 0 25px 5px #0000003b;
      border-radius: 30px;
  }
  .toggle-btn{
      padding: 10px 30px;
      cursor: pointer;
      background: transparent;
      border: 0;
      outline: none;
      position: relative;
      color: black;
      font-weight: 400;
      transition: 0.3s ease;
  
  }
   .toggle-btn:hover{
      transform: scale(1.1);
   }
   #btn{
      top: 0;
      left: 0;
      position: absolute;
      width: 110px;
      height: 100%;
      background: white;
      border-radius: 30px;
      transition: 0.5s;
  
   }
   .input-group{
      top: 180px;
      position: absolute;
      width: 280px;
      transition: .5s ease;
   }
   .input-field{
      width: 100%;
      padding: 10px 0;
      margin: 5px 0;
      border-left: 0;
      border-top: 0;
      border-right: 0;
      border-bottom:1px solid #fff ;
      outline: none;
      color: #fff;
      background: transparent;
   }
   .submit-btn{
      width: 85%;
      padding: 10px 30px;
      cursor: pointer;
      display: block;
      margin: auto;
      margin-top: 20px;
      color: white;
      background: white;
      border: 0;
      outline: none;
      border-radius: 30px;
      border: 2px solid ;
      transition: 0.3s ease;
   }
   .submit-btn:hover{
      background-color: white;
      color: black;
      border:2px solid white ;
  
   }
   #login{
      left: 450px;
   }
   #Signup{
      left: 50px;
   }
   input::placeholder{
      color: white;
   }
   .terms{
      color: white;
   }
  