* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
}
.rnsit-image {
  background-image: url(assests/rnsit.jpg);
  background-size: cover;
}
.rnsit-logo {
  background-image: url(assests/rnsit-logo.png);
  background-size: 96px;
}

.homepage-bg-light {
  background-image: url(assests/8.jpeg);
  background-color: rgba(0, 0, 0, 0.281);
  background-size: cover;
  background-blend-mode: darken;
}

.homepage-bg {
  background-image: url(assests/8.jpeg);
  background-color: rgba(0, 0, 0, 0.742);
  background-size: cover;
  background-blend-mode: multiply;
}

.zoom {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.642);
  width: 10rem;
  height: 10rem;
  animation: zoom 3s ease-in-out;
  border-radius: 50%;
  z-index: 2;
}
.zoom-rev {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.642);
  width: 8rem;
  height: 9.5rem;
  animation: zoom-reverse 1.5s ease-in-out;
  border-radius: 8px;
  z-index: 2;
}
.zoom-thank {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.642);
  width: 8rem;
  height: 9.5rem;
  animation: zoom-thankyou 1s ease-in-out;
  border-radius: 8px;
  z-index: 2;
}

@keyframes zoom {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(100);
  }
}
@keyframes zoom-reverse {
  0% {
    transform: scale(100);
  }

  50% {
    transform: scale(3);
  }

  100% {
    transform: scale(3);
  }
}

.upward-move {
  position: absolute;
  background-color: #ff6500;
  width: 7rem;
  height: 7rem;
  animation: bounce 1.5s ease-in-out;
  border-radius: 50%;
  z-index: 5;
}

@keyframes bounce {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 40%;
  }
}

/* @keyframes loginbox {
  0% {
    opacity: 0;
    background: transparent;
  }
  5% {
    opacity: 0;
    background: transparent;
  }
  100% {
    opacity: 1;
  }
} */
/* @keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */

@keyframes rotate-circle {
  0% {
    transform: rotate(-45deg);
  }

  20% {
    transform: rotate(-45deg);
  }
  80% {
    transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}

@keyframes icon-line-tip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  64% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  80% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  94% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}

@keyframes icon-line-long {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  75% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}
