@import url("https://fonts.googleapis.com/css2?family=Lato&family=Merriweather&family=Montserrat&family=Nunito&family=Open+Sans&family=Playfair+Display&family=Quicksand&family=Roboto&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Source+Code+Pro&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.mono {
  font-family: "Roboto Mono", monospace;
}
.roboto {
  font-family: "Roboto", sans-serif;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.lato {
  font-family: "Lato", sans-serif;
}

.merriweather {
  font-family: "Merriweather", serif;
}

.nunito {
  font-family: "Nunito", sans-serif;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
}

.playfair {
  font-family: "Playfair Display", serif;
}
.quicksand {
  font-family: "Quicksand", sans-serif;
}

.background-corner {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='500' height='550' preserveAspectRatio='none' viewBox='0 0 500 550'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1059%26quot%3b)' fill='none'%3e%3crect width='500' height='550' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M165.68587300214904 72.48705575702454L81.806937481537-51.868580126231706 41.330237118892796 156.36599127763657z' fill='rgba(223%2c 223%2c 223%2c 0.32)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M-108.97 42.3 a151.27 151.27 0 1 0 302.54 0 a151.27 151.27 0 1 0 -302.54 0z' fill='rgba(223%2c 223%2c 223%2c 0.32)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M133.28256891825797 52.90829139187505L-13.717763742731336-35.60920203175804-18.952688248106455 114.29942202110631z' fill='rgba(223%2c 223%2c 223%2c 0.32)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M537.5804575831264-28.85779820930252L387.78602736994037-36.70819164574406 379.9356339334988 113.08623856744201 529.7300641466849 120.93663200388356z' fill='rgba(223%2c 223%2c 223%2c 0.32)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M334.34 -1.01 a64.65 64.65 0 1 0 129.3 0 a64.65 64.65 0 1 0 -129.3 0z' fill='rgba(223%2c 223%2c 223%2c 0.32)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M288.41 44.92 a156.51 156.51 0 1 0 313.02 0 a156.51 156.51 0 1 0 -313.02 0z' fill='rgba(223%2c 223%2c 223%2c 0.32)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M45.63867031308798 416.78087210378555L-29.730064146684853 570.9366320038837 120.06436606650124 563.086238567442z' fill='rgba(223%2c 223%2c 223%2c 0.32)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M60.27140278603655 382.59732893287355L-54.63526368181014 479.0154703858544 156.68954423901747 497.5039954007202z' fill='rgba(223%2c 223%2c 223%2c 0.32)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-17.596631278773145 596.5379942232615L130.12453167305804 570.490767573222 104.0773050230185 422.7696046213908-43.64385792881269 448.8168312714304z' fill='rgba(223%2c 223%2c 223%2c 0.32)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M561.4304327573536 538.3685749591741L495.67476073899206 403.54946801429907 360.85565379411696 469.3051400326607 426.6113258124786 604.1242469775357z' fill='rgba(223%2c 223%2c 223%2c 0.32)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M343.1906029907019 450.1939602116467L394.4936244895522 591.147853329533 535.4475176074384 539.8448318306827 484.14449610858816 398.8909387127964z' fill='rgba(223%2c 223%2c 223%2c 0.32)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M411.63142504082595 611.4304327573537L546.450531985701 545.6747607389921 480.6948599673393 410.8556537941171 345.8757530224643 476.61132581247875z' fill='rgba(223%2c 223%2c 223%2c 0.32)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1059'%3e%3crect width='500' height='550' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  animation: come 0.5s;
}

@keyframes come {
  0% {
    right: -50%;
  }
  100% {
    right: 0;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; /* Color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background: rgba(165, 165, 165, 0.277); /* Color of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(251, 216, 191); /* Color of the scrollbar handle on hover */
}
